# backend
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sofigo

# gtfs importer
GTFS_ZIP_PATH=gtfs/20251217.zip

# mobile
EXPO_PUBLIC_API_URL=http://127.0.0.1:3000

# docker (compose defaults)
POSTGRES_DB=sofigo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
