# backend
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sofigo

# gtfs importer
GTFS_ZIP_PATH=gtfs/20251217.zip

# if you want to access backend from mobile
# use your computers lan ip (192.168.xx.xx)
EXPO_PUBLIC_API_URL=http://127.0.0.1:3000

# docker (compose defaults)
POSTGRES_DB=sofigo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
